{% extends "layout.html" %}
{% block title %}Hahmo{% endblock %}
{% block content %}

<h1>{{ character.name }}</h1>

{% if game %}
<p>Pelissä: {{ game.name }}</p>
{% else %}
<p> Ei ole liittynynt peliin</p>
{% endif %}

<p>Kunto: {{ character.current_hp }} / {{ character.max_hp }}</p>
<form action="/character/{{ character.id }}" method = "POST">
    <p>Muokkaa kuntoa:<br>
    <input type="radio" name = "modify_health" value = "increase" checked>
    <label for="increase">Paranna</label>
    <input type="radio" name = "modify_health" value = "decrease">
    <label for="decrease">Haavoita</label>
    <input type="number" name="health_value" placeholder="0">
    <input type="submit" value="Muokkaa">
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<p>Ase: <br>
    {{ weapon.name }}, kuvaus: {{ weapon.description }}
</p>

<h3>Vaihda asetta:</h3>
<form action = "/changecharacterweapon/{{character.id}}", method = "POST">
    <select name="weapons">
        {% for w in available_weapons %}
            <option value="{{ w.id }}">{{ w.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Vaihda">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endblock %}

