{% extends "layout.html" %}
{% block title %}Peli{% endblock %}
{% block content %}

<h1>{{ game.name }}</h1>
<p>Pelinjohtaja: {{ game_master.username }}</p>
{% if players %}
    <p>Pelaajat:</p>
    <ul>
        {% for player in players %}
        
    <li>{{player.username}} hahmoilla  <form action="/removecharacterfromgame/{{game.id}}" method = "POST">
                                        <ul>
                                        {% for character in characters_in_game %}
                                        {% if character.user_id == player.id %}
                                        {% if session.user_id == character.user_id %}<li><a href="/character/{{ character.id }}">{{character.name}}</a>  <button type="submit" name="character_id" value="{{ character.id }}">Poista</button> </li>{% else %}<li>{{character.name}}</li>{% endif %}                        
                                        {% endif %}
                                        {% endfor %}              
                                        </ul> </a>
                                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                    </form>
        {% endfor %}
    </ul>
{% endif %}


{% if in_game %}

<p>Liitä hahmo peliin:</p>

{% if characters_to_add %}

<form action = "/addcharactertogame/{{game.id}}" method = "POST">
    <select name=characters_to_add>
        {% for character in characters_to_add %}
            <option value="{{ character.id }}">{{ character.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Lisää">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% else %}
<p>Ei hahmoja</p>

{% endif %}

<form action ="/leavegame/{{ game.id }}" method = "POST">
    <input type = "submit" value = "Poistu pelistä">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% else %}

<form action = "/gameinfo/{{ game.id }}" method = "POST">
    <input type = "submit" value = "Liity peliin">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endif %}

{% endblock %}