{% extends "layout.html" %}
{% block title %}Johdettu peli{% endblock %}
{% block content %}

<h1>{{game.name}}</h1>

<a href="/createbattle/{{game.id}}">Luo taistelu</a>

<h3>Pelaajat pelissä:</h3>
<ul>
    {% for player in players %}
<li>{{ player.username }} hahmoilla <ul>
                        {% for character in characters_in_game %}
                        {% if character.user_id == player.id %}
                        <li>{{ character.name }}</li>
                        {% endif %}
                        {% endfor %}
</ul></a>
    {% endfor %}
</ul>

<h3>Pelissä käytettävät aseet:</h3>
<form action ="/removeweaponfromgame/{{game.id}}" method = "POST">
<ul>
    {% for weapon in weapons %}
<li>{{ weapon.name }} <button type="submit" name="weapon_id" value="{{weapon.id}}">Poista</button></a>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    {% endfor %}
</ul>
</form>

<h3>Pelissä käytettävät ei-pelaajahahmot:</h3>
<form action ="/removenpcfromgame/{{game.id}}" method = "POST">
<ul>
    {% for npc in npcs %}
<li><a href="/npc/{{npc.id}}">{{ npc.name }} </a> <button type="submit" name="npc_id" value="{{npc.id}}">Poista</button></a>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    {% endfor %}
</ul>
</form>

<h3>Lisää ase peliin:</h3>

{% if available_weapons %}

<form action = "/addweapontogame/{{game.id}}" method = "POST">
<select name=weapons>
    {% for weapon in available_weapons %}
        <option value="{{ weapon.id }}">{{ weapon.name }}</option>
    {% endfor %}
</select>
<input type="submit" value="Lisää">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% else %}

<p>Ei lisättäviä aseita</p>

{% endif %}

<h3>Lisää ei-pelaajahahmo peliin</h3>
<p>Valitese malli ja anna nimi:</p>
{% if npc_templates %}
<form action = "/addnpctogame/{{game.id}}" method = "POST">
    <select name=npcs>
        {% for npc in npc_templates %}
            <option value="{{ npc.id }}">{{ npc.template_name }}</option>
        {% endfor %}
    </select>
    <p>nimi: <input type="text" name="npc_name"></p>
    <input type="submit" value="Lisää">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
{% else %}

<p>Ei lisättäviä ei-pelaajahahmoja</p>

{% endif %}

<h3>Luo uusi ase</h3>

<form action ="/createweapon/{{game.id}}" method = "POST">
    <p>Nimi: <input type="text" name="weapon_name"> </p>
    <p>Minimivahinko: <input type="number" name="min_damage" default="0" placeholder ="0"></p>
    <p>Maksimivahinko: <input type="number" name="max_damage" default ="0" placeholder="0"></p>
    <p>Hyökkäystehokkuus: <input type="number" name="attack_modifier" default ="0" placeholder="0"></p>
    <p>Puolustustehokkuus: <input type="number" name="defence_modifier" default ="0" placeholder="0"></p>
    <p>Koko: <select name="size">
        {% for size in sizes %}
            <option value = "{{size[0]}}">{{size[1]}}</option>
        {% endfor %}
    </select></p>
    <p>Kuvaus: <textarea name="description" rows="3", cols="50"></textarea></p>
    <input type="submit" value="Luo">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<h3>Luo uusi ei-pelaajahahmomalli</h3>

<form action ="/createnpc/{{game.id}}" method = "POST">
    <p>Mallin nimi: <input type="text" name="npc_name"> </p>
    <p>Kuntopisteet: <input type="number" name="hp" default="20" placeholder ="20"></p>
    <p>Hyökkäystaito: <input type="number" name="attack_skill" default ="50" placeholder="50"></p>
    <p>Puolustustaito: <input type="number" name="defence_skill" default ="50" placeholder="50"></p>
    <p>Ase: <select name="npc_weapon">
        {% for w in all_weapons %}
            <option value="{{ w.id }}">{{ w.name }}</option>
        {% endfor %}
    </select></p>
    <p>Kuvaus: <textarea name="description" rows="3", cols="50"></textarea></p>
    <input type="submit" value="Luo">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endblock %}
